<section class="h-100 h-custom" >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3" style="background-color: #f5f3d7;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Add Transaction</h3>
  
              <div class="px-md-2">
  
                <div class="col-md-6 mb-4">
                    <label class="form-label" for="account_number">Account #:</label>&nbsp;
                    <select data-mdb-select-init [(ngModel)]="transactionObject.account_number" id="account_number">
                      <option *ngFor="let acct of acct_number" [value]="acct.account_number">&nbsp;...{{ acct.account_number }}&nbsp;</option>
                    </select>
                </div>

                <div class="col-md-6 mb-4">
                    <label class="form-label" for="category">Category:</label>&nbsp;
                    <select data-mdb-select-init [(ngModel)]="transactionObject.category" id="category" (change)="onChangeCategory($event)">
                        <option *ngFor="let cate of category_list" [value]="cate.category">&nbsp;{{ cate.category }}&nbsp;</option>
                    </select>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="date">Date</label>
                    <input type="text" [(ngModel)]="transactionObject.date" id="date" class="form-control" style="border-color: black;"/>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="description">Description:</label>
                    <input type="text" [(ngModel)]="transactionObject.description" id="description" class="form-control" style="border-color: black;"/>
                </div>

                <div data-mdb-input-init class="form-outline mb-4" *ngIf="selectedType == 'Income' || selectedType == 'Profits' || selectedType == 'Interest'">
                    <label class="form-label" for="credit">Credit ($):</label>
                    <input type="number" [(ngModel)]="transactionObject.credit" id="credit" class="form-control" value="0" style="border-color: black;"/>
                </div>

                <div data-mdb-input-init class="form-outline mb-4" *ngIf="selectedType == 'Shopping' || selectedType == 'Grocery' || selectedType == 'Entertainment'">
                    <label class="form-label" for="debit">Debit ($):</label>
                    <input type="number" [(ngModel)]="transactionObject.debit" id="debit" class="form-control" value="0" style="border-color: black;"/>
                </div>
  
                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn_style btn btn-sm mb-1" (click)="onAddTrans()">Submit</button>
                <button type="submit" style="float: right; background-color: darkslategrey; color: white;" data-mdb-button-init data-mdb-ripple-init class="btn btn-sm mb-1" (click)="onBack()">Back</button>
  
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
</section>